{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h1>Stock Quote</h1>
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Get Quote</button>
    </form>

    {% if quote %}
        <h2>Quote for {{ quote.symbol }}:</h2>
        <table class="table">
            <tr>
                <th>Symbol</th>
                <td>{{ quote.symbol }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ quote.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ quote.price | usd }}</td>
            </tr>
        </table>
    {% endif %}
{% endblock %}
