{% extends "layout.html" %}

{% block body %}
         <body>
         <form action="/register" method="post">
            <input autocomplete="off" autofocus name="name" placehoder="Name" type="text">
            <select>
                <option disabled selected>Sport</option>
                <option value="Basketball">Basketball</option>
                <option value="Soccer">Soccer</option>
                <option value="Padel">Padel</option>
            </select>
            <button type="submit">Register</button>

  {% endblock %}
