<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>froshims</title>
    </head>
    <body>
         <form action="/register" method="post">
            <input autocomplete="off" autofocus name="name" placehoder="Name" type="text">
            <select>
                <option value="Basketball">Basketball</option>
                <option value="Soccer">Soccer</option>
                <option value="Padel">Padel</option>
            </select>
            <button type="submit">Register</button>
    </body>
  </html>
